<section
  data-controller="projects--simple-status"
  data-projects--simple-status-target="simpleStatusSection"
  data-project-id="<%= locals[:project].id %>"
>
  <span
    data-projects--simple-status-target="upLabel"
    class="up-status-label"
  >
    Up
  </span>

  <span
    data-projects--simple-status-target="downLabel"
    class="down-status-label"
  >
    Down
  </span>
</section>
