<div id="<%= dom_id env_variable %>">
  <p>
    <strong>Project:</strong>
    <%= env_variable.project_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= env_variable.name %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= env_variable.value %>
  </p>

</div>
