<div class="mx-auto md:w-2/3 w-full">
  <h1>New env variable</h1>

  <%= render "form", env_variable: @env_variable %>

  <%= link_to "Back to env variables", env_variables_path,  class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"  %>
</div>
